
/*body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}*/
#holder {
    height: 600px;
    left: 50%;
    margin: -120px 0 0 -320px;
    position: absolute;
    top: 50%;
    width: 640px;
		overflow: hidden;
}
#copy {
    bottom: 0;
    font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
    position: absolute;
    right: 1em;
    text-align: right;
}
#copy a {
    color: #fff;
}


#arrow { 
    display: block;
    width: 100px;
    height: auto;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    /* left: ; */
    position: absolute;
  left: 530px;
  top: 300px;
  -webkit-filter: invert(.5);
  filter: invert(.5);


    /*left: */

}