
body.landing {
	background-image: url('/assets/images/website-design-background.png');
	background-size: cover;
	
	img {
		max-width: 100%;
	}
	
	h2 {
		color: white;
		margin-top: 0px;
		
		a {
			color: white;
			text-decoration: underline;
		}
		
		@media (max-width:768px) {
			a {
				clear: both;
				display: block;
				margin-top: 15px;
				font-size: 16px;
			}
		}
	}
	
	@media (max-width:768px) {
		.panel-body {
			min-height: 0;
		}
	}
}


.white-bg {
  background: white;
  margin: 10px;
}

.sell-unit {
	  position: relative;
	  padding: 10px;
	  color: #FFFFFF;
	  text-align: left;
	  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	  background: #636363;
		margin: 15px 0px;
	  border-radius: 15px;
}