.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.hero-unit a {
    color: #FFFFFF;    
}

.sell-unit {
	  position: relative;
	  padding: 10px;
	  color: #FFFFFF;
	  text-align: left;
	  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	  background: #636363;
		margin: 15px 0px;
	  border-radius: 15px;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
    border-top: 1px solid #E5E5E5;
}

.white-bg {
	background: white;
}

.ribbon-container {
  position: absolute;
  overflow: hidden;
  display: block;
  top: 0;
  right: 15px;
	left: 15px;
  height: 100%;
}

.ribbon {
  background-color: #a00;
	position: absolute;
	right: -40px;
	top: 13px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 0 10px #888;
	-moz-box-shadow: 0 0 10px #888;
	box-shadow: 0 0 10px #888;
	width: 150px;
  overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	word-break: break-word;
	
	p {
	  border: 1px solid #faa;
	  color: #fff;
	  display: block;
	  font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
	  margin: 1px 0;
	  padding: 6px 40px;
	  text-align: center;
	  text-decoration: none;
		text-shadow: 0 0 5px #444;
		width: 150px;
		max-height: 46px;
		overflow: hidden;
	}
}

.toggle .toggle-group .toggle-off {
	padding-left: 24px;
}

.game-item {
  opacity: 1;
	position: relative;
	.close {
		position: absolute;
		top: 0px;
		right: 20px;
		z-index: 9999;
		font-size: 20px;
	}
}

.game-item.ng-hide.ng-animate {
	display: none !important;
}

.game-item.ng-leave {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
  opacity: 1;
}
.game-item.ng-leave-active {
	opacity: 0;
}
.game-item.ng-enter {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
  opacity: 0;
}
.game-item.ng-enter-active {
  opacity: 1;
}