<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-12">
					<div class="text-center">
				    <h1>Pimp my {{ _outcome_ }}</h1>
				    <p class="lead">bribe your developers to work on your {{ _outcome_ }} rather than refactoring. </p>
				    <a href="#" ng-click="toggleHowTo()"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
					</div>
			</div>
		</div>
		
	  <div class="row sell-unit" id="howto" ng-if="showHowTo">
	    <div class="col-lg-6">
	      <p class="lead">If you are a Sprint Team Member</p>
	      <ul>
	        <li>Create a new {{ _game_ }}.</li>
	        <li>Define your bribes and their weighting (chance)</li>
	        <li>Add in your refactor {{ _outcomes_ }}</li>
	        <li>Define when the {{ _game_ }} will run.</li>
	      </ul>
	    </div>
	    <div class="col-lg-6">
	      <p class="lead">If you are a Product Owner</p>
	      <ul>
	        <li>Select an active {{ _game_ }}.</li>
	        <li>Add in your {{ _game_ }} {{ _outcomes_ }}</li>
	        <li>Assign bribes</li>
	        <li>You will be emailed the result when the {{ _game_ }} ends</li>
	      </ul>
	    </div>
	  </div>
		
		<hr/>
		
		<div class="row">
			<div class="col-lg-5">
				<form>
				  <div class="input-group">
				    <input type="text" id="searchInput" class="form-control" placeholder="Search for {{ _game_ }}" ng-model="search" />
	          <span class="input-group-btn">
	            <button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
	          </span>
				  </div>
				</form>
			</div>
			<div class="col-lg-2 text-center">
				<h5 style='margin-bottom: 0px'>OR</h5>
			</div>
			<div class="col-lg-5">
				<a href="/login" class="btn btn-primary btn-block" ng-if="!isLoggedIn">Login to add new {{ _game_ }}</a>
	      <form ng-if="isLoggedIn">
	        <div class="input-group">
	          <input type="text" class="form-control" placeholder="Add a new {{ _game_ }} here." ng-model="newGame.name" />
	          <span class="input-group-btn">
	            <button type="submit" class="btn btn-primary" ng-click="addGame()">Add New {{ _Game_ }}</button>
	          </span>
	        </div>
	      </form>
			</div>
		</div>

		<hr/>
	
		<div class="row text-center">
			<div class="col-lg-6 col-lg-offset-3">
				<form class="form-inline">
				  <div class="form-group">
		        <label for="completedGames" style='margin-top: 5px; margin-right:10px'>Show completed {{ _games_ }}</label>
			      <div class="checkbox">
			        <input type="checkbox" id="completedGames" data-toggle="toggle" class="special-toggle-checkbox" ng-model="showCompletedGames" checked>
			      </div>
				  </div>
				</form>
			</div>
		</div>
	</div>
	
  <div class="row" ng-if="gamesLoaded">
    <div class="col-sm-6 col-md-4 game-item" ng-repeat="game in games.slice().reverse() | filter:search" ng-show="!game.winner || (game.winner && showCompletedGames)" >
			<button type="button" class="close" ng-click="deleteGame(game)" ng-if="game.gameCreator === currentUserEmail">&times;</button>
			<div class="ribbon-container">
				<div class="ribbon" ng-if="game.winner">
					<p>{{ game.winner }}</p>
				</div>
			</div>
			
      <div class="thumbnail">
        <img src="{{game.gameCreatorImageUrl}}" />

        <div class="caption text-center">
		      <h4>{{ game.name }}</h4>
		      <p>{{ game.gameCreator }}</p>
					<div class="btn-group">
						<a href="/game/{{game._id}}" class="btn btn-primary" role="button">View {{ _Game_ }} Details</a>
						<a href="/game/{{game._id}}/play" class="btn btn-success" role="button" ng-if="game.winner">View Game Winner</a>
						<a href="/game/{{game._id}}/play" class="btn btn-warning" role="button" ng-if="!game.winner && hasPermissionToPlayGame(game.gameCreator)">Run the {{ _Game_ }}</a>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>