<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Game: {{game.name}}</h1>
      <a ng-hide="game.winner" href="/game/{{game._id}}/play" tooltip="{{outcome.info}}">Play Now</a>

      <h3 style="color: green">Winner was: {{game.winner}}</h3>
    </div>
  </div>

 <div ng-disabled="game.winner" class="container">
  <div class="row">
    <div ng-disabled="game.winner" class="col-lg-12">
      <h3 class="page-header">Competing Stories:</h3>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="outcome in outcomes">
        <li><a href="#" tooltip="{{outcome.info}}">{{outcome.name}}
              <select id="outcomebribe" ng-model="outcome.bribe" ng-change="saveOutcome(outcome)">
                  <option value="">---Please select---</option>
                  <option value="{{bribe._id}}" ng-repeat="bribe in bribes" ng-selected="outcome.bribe === bribe._id">{{bribe.name}}</option>
              </select>
          <button type="button" class="close" ng-click="deleteOutcome(outcome)">&times;</button></a>
        </li>
      </ul>
    </div>
  </div>

  <form ng-disabled="game.winner" class="thing-form">
    <label>Add a new story</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new outcome here." ng-model="newOutcome">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-disabled="game.winner" ng-click="addOutcome()">Add New Story</button>
      </span>
    </p>
  </form>


</div>



</div>