/**
 * App-wide Styles
 */

html {
	overflow-y: scroll;
}

html, body {
	height: 100%;
	position: relative;
}

body {
	background-color: #636363;
	background-image: url('/assets/images/bg.png');
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body > .inner {
  display: none;
}

body.pg-loaded > .inner {
  display: block;
}

.spinner {
  margin: -100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.navbar-inverse .navbar-text {
	color: white;
}

.toggle-on.btn {
	padding-left: 7px;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}


footer h5 {
	color: white;
}


textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control{
	
	&.ng-touched {
		&.ng-invalid {
			@include box-shadow(inset 0 -2px 0 $brand-danger);
		}
	
		&.ng-valid {
			@include box-shadow(inset 0 -2px 0 $brand-success);
		}
	}
}

select,
select.form-control {
	
	&.ng-touched {
		&.ng-invalid {
			@include box-shadow(inset 0 -2px 0 $brand-danger);
		}
	
		&.ng-valid {
			@include box-shadow(inset 0 -2px 0 $brand-success);
		}
	}
}

.pg-loading-screen img {
	max-width: 100%;
}
